.App {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: #F9F5EB;
}

.App a {
  text-decoration: none;
  color: #ff6600;
}

.App a:hover {
  text-decoration: none;
}

.App-content {
  display: flex;
  flex: .8 0 80%;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: #F9F5EB;
}
.login-container {
  position: absolute;
top: 50%;
left: 50%;
transform: translate(-50%, -50%);

}
.login-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #f8f8f8;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
}

.form-group {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
}

label {
  font-size: 18px;
  margin-bottom: 5px;
}

input {
  font-size: 16px;
  padding: 10px;
  border: none;
  border-radius: 5px;
  background-color: #ffffff;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
}

.submit-button {
  font-size: 18px;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  background-color: #EA5455;
  color: #ffffff;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
  cursor: pointer;
  transition: background-color 0.2s ease-in-out;
}

.submit-button:hover {
  background-color: #EA5455;
}
